Estilizar a cor de fundo do seu site como o css
body{
background-color:azure) ;
} 

Estilizar o título principal do seu site
 h1{
color:red ;
font-family:Arial, Helvetica, sans-serif ;
background:white ; 
}

Estilizar os parágrafos
p{
color:black ;
font-family: ;
font: size 25px; ;
background:white ;
}