
body{
background-color:azure) ;
} 


 h1{
color:red ;
font-family:sans-serif;          
background:white ; 
}


p{
color:black ;
font-family:Verdana ;
font: size 35px; 
background:white ;
font-weight: bold;
}                      
 #tekken {width: 50%;}